body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #363636;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 0 0;
    padding: 0;
  }
  .container {
    width: 80%;
    margin: auto;
    height: 50px;
}
.button{
        background-color: purple;
        color: #ffffff;
        border: white solid;
        width: 70px;
        height: 25px;
}
.header {
    background-color: #232323;
    background-size: cover;
    height: 70px;
    width: 1500px;
    padding-top: 20px;
    border-bottom: purple solid 5px;
    position: fixed;
}

.header .nav .menu-atual a,
.header span {
    /* Cor do texto */
    color: orangered;
}
.img-logo{
    width: 200px;
    float: left;
    margin-top: -10px;
    margin-left: -50px;
    margin-right: 100px;
}
.navbar-lista{
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
  float: left;
  /* white-space: break-spaces; */
}
.navbar-lista a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}
.navbar-lista li{
        display: inline-block;
        padding: 15px 0px 120px 40px;
}
.navbar{
        display: block;
        position: relative;
        color: #fff;
        transition: 0.3s;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
}
.navbar a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #97f14e;
  }
.buscar{
    margin: 6px 20px 150px 80px;
    border-radius: 5px;
    width: 260px;
    height: 25px;
    float: left;
}
.buscarbotao{
    width: 25px;
    margin: 0px;
    padding-top: 10px;
    float: left;
}
.containermain{
    /* background-image: url(/Imagens/valorant.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #CBCBCB;
    text-align: center;
    min-height: 750px;
     /* background-image: url(/Imagens/galaxy.jpg); */
}
.bloco{
    background-color: #38363D;
    width: 1220px;
    min-height: 825px;
    margin-left: 100px;
}
.containertorneio{
    /* background-image: url(/Imagens/valorant.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161616;
    text-align: center;
    min-height: 600px;
}
.bloco2{
    background-color: #0f0f0f;
    width: 1220px;
    min-height: 1000px;
    margin-left: 100px;
}
.bloco2 h1{
    color: white;
    padding-top: 45px; 
    font-weight: 600;
    font-size: 35px;
}
.footer{
    background-color: #161616;
    background-size: cover;
    min-height: 100px;
    border-top: green solid 5px;
}
.img-logo2{
    width: 200px;
    position: absolute;
    left: 100px;
}
.bloquinho{
    background-color: green;
    width: 2px;
    height: 60px;
    margin-left: 325px;
    margin-top: 20px; 
}
.imgmain{
    margin-top: -25px;
}
.textfooter{
    /* text-align: center; */
    margin-left: -450px;
    margin-top: -64px;
}
.bloquinho2{
    background-color: green;
    width: 2px;
    height: 60px;
    margin-left: 645px;
    margin-top: -65px; 
}
.textfooter2{
    /* text-align: center; */
    margin-left: 450px;
    margin-top: -63px;
    font-weight: 400;
}
.registrar{
    margin-left: 475px;
    margin-top: 15px;
}
.bloquinho3{
    background-color: green;
    width: 2px;
    height: 60px;
    margin-left: 1230px;
    margin-top: -60px; 
}

.blockchain1{

width: 900px;
height: 375px;
padding-top: 90px;


background: #505050;
background-image: url(/Imagens/20610435208_5e7a45bfe5_h_01.jpg);

}
.blockchain1 h1{
    color: white;
    margin-top: -100px;
    font-weight: 600;
    font-size: 35px;
}
.blockchain2{
    width: 320px;
    height: 710px;
    margin-left: 900px;
    margin-top: -440px;
    /* background-image: url(/Imagens/casal.png); */
    background: #da2b2b;
}
.blockchain2 h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: -180px;
    padding-left: 10px;
    text-align: left;
}
.blockchain3{
        width: 450px;
        height: 375px;
        margin-top: -275px;
        margin-left: 450px;

    background: #8eda2b;
}
 .blockchain3 h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: -150px;
    padding-left: 25px;
    text-align: left;
}
.blockchain4{
    width: 450px;
    height: 375px;
    margin-top: -375px;

    background: #213601;
}
.blockchain4 h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: -120px;
    padding-left: 20px;
    width: 500px;
    text-align: left;
}
.blockchain5{
    width: 320px;
    height: 350px;
    margin-left: 900px;
    margin-top: -350px;
    background: #3616f0;
    box-shadow: black;
}
.blockchain5 h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: -150px;
    padding-left: 20px;
    width: 275px;
    text-align: left;
}
.line1{
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: rgb(9, 246, 9);
    left: 125px;
    top: 900px;
}
.line2{
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: rgb(9, 246, 9);
    left: 890px;
    top: 900px;
}
.csgoimg{
    width: 320px;
    height: 350px;
    margin-left: 50px;
    margin-top: 90px;
    /* background: #3616f0; */
}
.lolimg{

        width: 350px;
        height: 350px;
        margin-left: 430px;
        margin-top: -350px;
        background: #1df016;

}
.freefireimg{

    width: 320px;
    height: 350px;
    margin-left: 840px;
    margin-top: -350px;
    /* background: #16e9f0; */

}
.csgo-title{
     position: absolute;
     top: 950px;
     color: white;
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
     font-size: 30px;
     left: 275px; 
    
}
.lol-title{
    position: absolute;
    top: 950px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    left: 560px; 
   
}
.freefire-title{
    position: absolute;
    top: 950px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    left: 1050px; 
}
.textogame1{
    color: white;
    margin-left: -830px;
    margin-top: 25px;

}
.textogame2{
    color: white;
    margin-top: -115px;
    margin-left: -45px;
}
.textogame3{
    color: white;
    margin-left: 775px;
    margin-top: -115px;

}
.textogame1 li{
    text-decoration: none;
    list-style-type: none;
}
.textogame2 li{
    text-decoration: none;
    list-style-type: none;
}
.textogame3 li{
    text-decoration: none;
    list-style-type: none;
}